.cabecalho{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid #0d6efD;
}

.cabecalho .titulo {
  color: #0d6efD;
  text-align: center;
  font-family: "Zen Dots";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding-bottom: 40px;
}

.cabecalho .titulo span{
  color: #fd9843;
}
